body {
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
}

.form-control {
  background-color: #fff;
}

.btn-custom {
  background-color: #064916;
  color: white;
  border: none;
}

.btn-custom:hover {
  background-color: #0e5e27;
}

.form-title {
  font-weight: bold;
  font-size: 24px;
}

.form-subtext {
  color: gray;
}

.form-subtext a {
  color: #13c345;
  text-decoration: none;
}

.form-subtext a:hover {
  text-decoration: underline;
}
