
<div class="container container-custom" *ngIf="user">
  <h2 class="text-center section-title">User Information</h2>
  <div class="user-info mb-4">
    <p><strong>ID:</strong> {{ user.id }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Password:</strong> {{ user.password }}</p>
    <p>
      @if (user.profile){
        <p><strong>Nombre:</strong> {{ user.profile.name }}</p>
        <p><strong>Apellido:</strong> {{ user.profile.lastName }}</p>
        <p><strong>Fecha Nacimiento:</strong> {{ user.profile.birthday }}</p>
        <p><strong>Genero:</strong> {{ user.profile.gender }}</p>
      }
    </p>

  </div>

  <h4 class="section-title">Cuentas</h4>
  <div class="table-responsive">
    <table class="table table-bordered text-center align-middle">
      <thead>
      <tr>
        <th>ID</th>
        <th>Number</th>
        <th>Currency</th>
        <th>Balance</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let account of user.accounts">
        <td>{{ account.id }}</td>
        <td>{{ account.number }}</td>
        <td>{{ account.currencyType }}</td>
        <td>{{ account.balance }}</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
