


<div class="transfer-wrapper">

  <div>
    <h1 class="title">Transferir Dinero</h1>
    <p class="subtitle">Envía dinero a tus beneficiarios de forma segura</p>
  </div>

  <div class="card-container">


    <div class="card-header">
      <h2 class="form-title">Nueva Transferencia</h2>
      <p class="form-subtitle">Completa los datos para realizar la transferencia</p>
    </div>
    <form onsubmit="event.preventDefault(); alert('Transferencia procesada');" (ngSubmit)="submit()" #transferForm="ngForm">


      <div class="form-section">
        <!-- Cuenta Origen -->
        <div class="form-group">
          <label for="source">Cuenta Origen</label>
          <select class="form-control" id="source" name="source" [(ngModel)]="sourceAccountId" required>
            <option disabled selected>Selecciona una cuenta</option>
            <option *ngFor="let acc of accounts" [value]="acc.accountId">
              {{ acc.accountNumber }} - Saldo: {{ acc.balance }} {{ acc.currency }}
            </option>
          </select>

        </div>

        <!-- Beneficiario -->
        <div class="form-group">
          <label for="target">Beneficiario</label>
          <select class="form-control text-red-600" id="target" name="target" [(ngModel)]="targetAccountId" required>
            <option disabled selected>Selecciona un beneficiario</option>
            <option *ngFor="let b of beneficiaries" [value]="b.account.accountId" >
              {{ b.account.accountNumber }} - {{ b.account.currency }}
            </option>
          </select>
        </div>

        <!-- Monto -->
        <div class="form-group">
          <label for="amount">Monto a Transferir</label>

          <input id="amount"
                 type="number"
                 name="amount"
                 [(ngModel)]="amount"
                 min="1"
                 required  class="form-control"  placeholder="0.00"  step="0.01" />
          <small id="source" name="source" [(ngModel)]="sourceAccountId" required>Saldo disponible: $2500.00</small>

        </div>

        <!-- Descripción -->
        <div class="form-group">
          <label for="description">Descripción (Opcional)</label>
          <textarea class="form-control" id="description" rows="3" placeholder="Concepto de la transferencia..."></textarea>
        </div>

        <!-- Alerta simulada -->
        <div class="alert alert-error">
          <span class="icon">⚠️</span>
          El monto excede el saldo disponible en la cuenta seleccionada.
        </div>
      </div>

      <div class="form-actions">
        <button type="button" class="btn btn-outline" onclick="window.history.back()">Cancelar</button>
        <button type="submit" class="btn btn-primary">
          <span class="icon-send">📤</span> Continuar
        </button>
      </div>
    </form>
    <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </div>
</div>



