<div class="container mt-5">
  <h3>Crear cuenta para usuario {{ userId }}</h3>

  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Tipo de moneda</label>
<!--      <select formControlName="currencyType" class="form-select">-->
<!--        <option value="Bs">Bolívares</option>-->
<!--        <option value="$">Dólares</option>-->
<!--      </select>-->
      <input formControlName="currencyType" class="form-control">
    </div>

    <div class="mb-3">
      <label class="form-label">Saldo inicial</label>
      <input formControlName="balance" type="number" class="form-control" />
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

    <button type="submit" class="btn btn-primary">Crear cuenta</button>
  </form>
</div>
