/* Estilos para el contenedor */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*.m-5 {
  margin: 3rem;
}

.mt-5 {
  margin-top: 3rem;
}*/
/*
.mb-4 {
  margin-bottom: 1.5rem;
}*/

/* Estilos para la tabla */
.table {
  border-collapse: collapse;
  margin-bottom: 1rem;
  /*border: 1px solid;*/
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  /*border-top: 1px solid #dee2e6;*/
  text-align: left;
}

.table thead th {
  vertical-align: bottom;
  /*border-bottom: 2px solid #dee2e6;*/
  /*background-color: #343a40;*/
  color:#343a40;
  font-weight: bold;
}

/*.table tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

.table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}*/

/*.table tbody tr:hover {*/
/*  background-color: #e9ecef;*/
/*  cursor: pointer;*/
/*}*/

.table th {
  font-weight: bold;
}

/* Bordes para toda la tabla */
.table,
.table th,
.table td {
  border-bottom: 1px solid #343a40;
}

/*!* Estilo para el título *!*/
/*h2 {*/
/*  color: #333;*/
/*  font-weight: 500;*/
/*  font-size: 1.75rem;*/
/*}*/

/* Responsive para dispositivos móviles */
/*@media (max-width: 768px) {*/
/*  .container {*/
/*    padding: 0 10px;*/
/*  }*/

/*  .m-5 {*/
/*    margin: 1rem;*/
/*  }*/

/*  .table {*/
/*    font-size: 0.875rem;*/
/*  }*/

/*  .table th,*/
/*  .table td {*/
/*    padding: 0.5rem;*/
/*  }*/
/*}*/
